section {
        background-color: $white;
}

.area-leader {
        display: flex;
        align-items: center;
        height: 100vh;
        position: relative;
        @media screen and (max-width: 768px) {
                flex-direction: column;
                padding: 150px 0px;
        }
}

.leader-left {
        @media screen and (max-width: 768px) {
                margin-bottom: 50px;
        }
}

.leader-left img {
        width: 100%;
        max-width: 750px;
}

.leader-right {
        background-color: $white;
        padding: 100px 0px 0px 95px;
        position: absolute;
        width: 550px;
        right: 0;
        bottom: 200px;
        @media screen and (max-width: 768px) {
                position: static;
                width: auto;
                margin: 0px 50px;
                padding: 0px;
                text-align: center;
        }
}

.leader-right h2 {
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: normal;
        @media screen and (max-width: 425px) {
                font-size: 36px;
        }
}

.leader-right p {
        margin-top: 40px;
        line-height: 26px;
        color: $dark-gray;
        font-family: 'Alata', sans-serif;
}

/*OUR CREATIONS*/

.area-creations {
        display: grid;
        grid-template-columns: repeat(4, auto);
        margin: 100px 0px;
}

.our-creations {
        grid-column: 1 / 3;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: normal;
        @media screen and (max-width:768px) {
                grid-column: 1 / 5;
                grid-row: 1 / 2;
                text-align: center;
        }
        @media screen and (max-width:425px) {
                font-size: 36px;
        }
}

.see-all {
        grid-column: 3 / 5;
        text-align: right;
        @media screen and (max-width:768px) {
                grid-column: 1 / 5;
                grid-row: 3 / 4;
                text-align: center;
        }
}

.btn-see-all {
        font-family: 'Alata', sans-serif;
        text-transform: uppercase;
        border: 1px solid $black;
        background-color: $white;
        font-size: 15px;
        letter-spacing: 2px;
        padding: 15px 40px;
        cursor: pointer;
        &:hover {
                background-color: $black;
                color: $white;
        }
}

.area-card {
        margin: 100px 0px;
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: repeat( 4, auto);
        grid-gap: 30px;
        @media screen and (max-width:768px) {
                grid-column: 1 / 5;
                grid-row: 2 / 3;
                grid-template-columns: 100%;
                margin: 50px 0px;
        }
}

.card { 
        width: auto;
        max-width: 255px;
        height: 450px;
        width: auto;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        letter-spacing: 2px;
        display: flex;
        align-items: flex-end;
        color: $white;
        padding: 0px 0px 40px 40px;
        cursor: pointer;
        &:hover {
                transform: scale(1.05);
        }
        @media screen and (max-width: 768px) {
                padding: 0px 0px 30px 30px;;
                width: 100%;
                max-width: 765px;
                max-height: 240px;
                font-size: 40px;
                &:hover {
                        transform: none;
                }
        }
        @media screen and (max-width: 425px) {
                font-size: 30px;
                padding: 0px 0px 20px 20px;
        }
}

        .card-earth {
                background-image: url(../../images/desktop/image-deep-earth.jpg);
                background-size: cover;
                background-position: center;
                @media screen and (max-width: 768px) {
                        background-image: url(../../images/mobile/image-deep-earth.jpg);
                }
        }

        .card-arcade {
                background-image: url(../../images/desktop/image-night-arcade.jpg);
                background-size: cover;
                background-position: center;
                @media screen and (max-width: 768px) {
                        background-image: url(../../images/mobile/image-night-arcade.jpg);
                }
        }

        .card-soccer {
                background-image: url(../../images/desktop/image-soccer-team.jpg);
                background-size: cover;
                background-position: center;
                @media screen and (max-width: 768px) {
                        background-image: url(../../images/mobile/image-soccer-team.jpg);
                }
        }

        .card-deep {
                background-image: url(../../images/desktop/image-deep-earth.jpg);
                background-size: cover;
                background-position: center;
                @media screen and (max-width: 768px) {
                        background-image: url(../../images/mobile/image-deep-earth.jpg);
                }
        }

        .card-above {
                background-image: url(../../images/desktop/image-from-above.jpg);
                background-size: cover;
                background-position: center;
                @media screen and (max-width: 768px) {
                        background-image: url(../../images/mobile/image-from-above.jpg);
                }
        }

        .card-borealis {
                background-image: url(../../images/desktop/image-pocket-borealis.jpg);
                background-size: cover;
                background-position: center;
                @media screen and (max-width: 768px) {
                        background-image: url(../../images/mobile/image-pocket-borealis.jpg);
                }
        }

        .card-curiosity {
                background-image: url(../../images/desktop/image-curiosity.jpg);
                background-size: cover;
                background-position: center;
                @media screen and (max-width: 768px) {
                        background-image: url(../../images/mobile/image-curiosity.jpg);
                }
        }
        
        .card-fisheye {
                background-image: url(../../images/desktop/image-fisheye.jpg);
                background-size: cover;
                background-position: center;
                @media screen and (max-width: 768px) {
                        background-image: url(../../images/mobile/image-fisheye.jpg);
                }
        }